@namespace BlazorWindows

@inherits WindowContainerBase

@using Microsoft.AspNetCore.Components.Web

<style type="text/css">

    .blazor-window-nav::-webkit-scrollbar {
        height: 8px;
        background-color: grey;
    }

    .blazor-window-nav {
        scrollbar-width: thin;
    }
</style>

@if (WindowItems.Count() > 1)
{
    <div class="d-flex align-content-start overflow-auto my-4 py-0 bg-light border border-light blazor-window-nav">

        @foreach (WindowItem windowItem in WindowItems)
        {
            if (windowItem == WindowItems.FirstOrDefault()) continue;

            <div>
                @windowItem.WindowLivestream
            </div>
        }

    </div>
}

<CascadingValue Value=this>
    <ul class="blazor-window-nav nav nav-tabs d-flex flex-nowrap overflow-auto">
        @ChildContent
    </ul>
</CascadingValue>

<div class="nav-tabs-body">
    @ActiveWindow?.WindowContent
</div>

@code {

}