@namespace BlazorWindows
@inherits WindowItemBase

@using Microsoft.AspNetCore.Components.Web

<CascadingValue Value=this>

    <li>
        <a @onclick="() => ActivateWindow()" class="nav-link @TitleCssClass" role="button" style="height: 48px;">
            @WindowTitle
        </a>
    </li>

</CascadingValue>

@code {

}
