@namespace BlazorWindows
@inherits WindowItemBase

@using Microsoft.AspNetCore.Components.Web

<CascadingValue Value=this>

    <li>
        <a @onclick="async () => ActivateWindow()" class="nav-link position-relative @TitleCssClass" role="button" style="height: 48px; max-width: 120px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
            @WindowTitle
        </a>
    </li>

</CascadingValue>

@code {

}
