@namespace BlazorWindows

@inherits WindowContainerBase

@using Microsoft.AspNetCore.Components.Web

<style type="text/css">

    .blazor-window-nav::-webkit-scrollbar {
        height: 8px;
        background-color: grey;
    }

    .blazor-window-nav {
        scrollbar-width: thin;
    }

</style>

<CascadingValue Value=this>
    <ul class="blazor-window-nav nav nav-tabs d-flex flex-nowrap overflow-auto">
        @ChildContent
    </ul>
</CascadingValue>

<div class="nav-tabs-body">
    @ActiveWindow?.WindowContent
</div>

@if(WindowItems.Count() > 3) {
<div class="d-flex align-content-start overflow-auto my-3 py-3 bg-secondary border border-light">

    @foreach(WindowItem windowItem in WindowItems) {

        if(windowItem == WindowItems.First()) continue;
        <div class="bd-highlight p-2">
            @windowItem?.WindowContent
        </div>
    }

</div>
}

@code {

}