@namespace BlazorWindows

@inherits WindowContainerBase

@using Microsoft.AspNetCore.Components.Web

<CascadingValue Value=this>
    <ul class="nav nav-tabs bg-secondary">
        @ChildContent
    </ul>
</CascadingValue>

<div class="nav-tabs-body p-5 bg-light">
    @ActiveWindow?.WindowContent
</div>

@code {
    
}