@namespace BlazorDropdown

@using Microsoft.AspNetCore.Components

<div class="btn-group float-right">
    <button type="button" @onclick="@(() => ToggleDropdown())" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="oi oi-menu"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right @(ShowDropdown ? DisplayDropdownClass : "")">

        @foreach (var item in DropdownItemModels)
        {
            <button class="dropdown-item" type="button">@item.Name</button>
        }

    </div>
</div>

@code {

    [Parameter] public List<BlazorDropdownItemModel> DropdownItemModels { get; set; }

    public bool ShowDropdown { get; set; }

    public string DisplayDropdownClass { get; set; } = "show";

    public void ToggleDropdown()
    {
        this.ShowDropdown = !this.ShowDropdown;
    }

}
