@namespace BlazorDraggableList

@inherits BlazorDraggableListBase<TItemGeneric>

@typeparam TItemGeneric

<style>

    .draggable-item {
        cursor: grab;
    }

    .dropzone {
        width: 100%;
        height: 4px;
    }

</style>

<section class="blazor-draggable-list">

    <div class="@Class">

        @for (int i = 0; i < Items.Count(); i++)
        {

            var temp = i;

            <div id="blazor-draggable-list-item-@temp" class="draggable-item" draggable="true" ondragstart="blazordraggablelist_dragstart(event)">
                @BlazorDraggableListItem(Items[temp])
            </div>

            <div id="blazor-draggable-list-item-dropzone-@temp" class="dropzone bg-primary" ondragover="blazordraggablelist_dragover(event)" ondrop="blazordraggablelist_drop(event)" />

        }

    </div>

</section>

@code {

}
