@inherits LayoutComponentBase
@using BlazorTouchMenu

<div class="page">

    <BlazorTouchMenuComponent MenuItemModels="@MenuItemModels"></BlazorTouchMenuComponent>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code { 

    public List<BlazorTouchMenuItemModel> MenuItemModels { get; set; } = new List<BlazorTouchMenuItemModel>()
    {
        new BlazorTouchMenuItemModel() { Name = "Home", Href = "", Icon = "oi-home", NavLinkMatch = NavLinkMatch.All },
        new BlazorTouchMenuItemModel() { Name = "Counter", Href = "counter", Icon = "oi-plus", NavLinkMatch = NavLinkMatch.Prefix },
        new BlazorTouchMenuItemModel() { Name = "Fetch Data", Href = "fetchdata", Icon = "oi-list-rich", NavLinkMatch = NavLinkMatch.Prefix },
    };

}
