/*
body * { border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; }
*/

body {
    background-color: #ddffdd !important;
}

@media (max-width: 767px) {

    body main nav.navbar {
        padding: 0.25rem 0rem !important;
    }

    body main div.content.container {
        position: relative;
        top: 15px !important;
    }

    body app main .content.container .row {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
