@namespace Oqtane.ChatHubs

@using Oqtane.ChatHubs.Services
@using Oqtane.Shared.Models

<style type="text/css">

    #chathubs-video {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    #chathubs-canvas {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

    #chathubs-canvas-download {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

</style>

<div>

    @if (ChatHubService.StreamTasks.Any())
    {
    <div class="d-flex align-items-center bd-highlight my-1">

        @if (true || ChatHubService.ConnectedUser.UserId == ChatHubRoom.CreatorId)
        {
            <div class="p-1 bd-highlight bg-white border border-light">
                <pre class="bg-light">Local Video</pre>
                <video id="chathubs-video-local-@ChatHubRoom.Id" class="my-1" controls autoplay></video>
                <canvas id="chathubs-canvas-local-@ChatHubRoom.Id" class="d-none"></canvas>
            </div>
        }
        @if (true)
        {
            <div class="p-1 bd-highlight bg-white border border-light">
                <pre class="bg-light">Remote Video</pre>
                <video id="chathubs-video-remote-@ChatHubRoom.Id" class="my-1"></video>
                <canvas id="chathubs-canvas-remote-@ChatHubRoom.Id" class="d-none"></canvas>
            </div>
        }

    </div>
    }

</div>

@code {

    [Parameter]
    public IChatHubService ChatHubService { get; set; }

    [Parameter]
    public ChatHubRoom ChatHubRoom { get; set; }

}
