@namespace Oqtane.ChatHubs

@using Oqtane.ChatHubs.Services
@using Oqtane.Shared.Models

<div>

    <div class="d-flex align-items-center bd-highlight my-1">

        @if (ChatHubService.ConnectedUser.UserId == ChatHubRoom.CreatorId)
        {
            <div class="bd-highlight bg-white border border-light">
                <pre class="text-white px-4 py-2 mb-0" style="background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(49,94,182,1));">Local Video [#@ChatHubRoom.Id]</pre>
                <video id="chathubs-video-local-@ChatHubRoom.Id" class="chathubs-video-local mb-0" controls></video>
                <canvas id="chathubs-canvas-local-@ChatHubRoom.Id" class="chathubs-canvas-local bg-light d-none"></canvas>
            </div>
        }
        else
        {
            <div class="bd-highlight bg-white border border-light">
                <pre class="text-white px-4 py-2 mb-0" style="background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(182,94,49,1));">Remote Video [#@ChatHubRoom.Id]</pre>
                <video id="chathubs-video-remote-@ChatHubRoom.Id" class="chathubs-video-remote mb-0" controls></video>
                <canvas id="chathubs-canvas-remote-@ChatHubRoom.Id" class="chathubs-canvas-remote bg-light d-none"></canvas>
            </div>
        }

    </div>

</div>

@code {

    [Inject]
    public IChatHubService ChatHubService { get; set; }

    [Parameter]
    public ChatHubRoom ChatHubRoom { get; set; }

}
