@namespace BlazorAlerts

@inherits BlazorAlertsBase

@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Components.Web

@if (BlazorAlertsService.BlazorAlerts.Any())
{
    <div class="blazoralerts-container">

        <BlazorAlertsTemplate Items="BlazorAlertsService.BlazorAlerts">

            <RenderHeadline Context="headline">
                <span>@headline</span>
            </RenderHeadline>
            <RenderCloseButton Context="item">
                <button type="button" @onclick="@(() => CloseAlert_OnClicked(item.Guid))" class="btn btn-sm btn-danger float-right" aria-label="Close" style="font-size: 2rem; line-height: 0.75; padding: 0;">
                    <span aria-hidden="true" style="position: relative; top: -4px;">&times;</span>
                </button>
            </RenderCloseButton>
            <RenderImage Context="item">
                <img src="_content/BlazorAlerts/hub-exception.png" class="img-fluid" width="72" />
            </RenderImage>
            <RenderMessage Context="item">
                <p>@item.Message</p>
            </RenderMessage>
            <RenderOkButton Context="item">
                <button type="button" @onclick="@(() => CloseAlert_OnClicked(item.Guid))" class="btn btn-sm btn-link bg-light border-secondary mt-4 w-100" aria-label="Close">
                    Okay
                </button>
            </RenderOkButton>

        </BlazorAlertsTemplate>

    </div>
}
