@namespace Oqtane.ChatHubs

@inherits SettingsModalBase

<MatDialog @ref="SettingsDialog" @bind-IsOpen="DialogIsOpen">

    <MatDialogTitle>Account/Settings</MatDialogTitle>

    <MatDialogContent>

        <MatTabGroup>

            <MatTab>
                <LabelContent>Account Info</LabelContent>
                <ChildContent>

                    <div class="p-sm-3">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </div>

                </ChildContent>
            </MatTab>

        </MatTabGroup>

        <div class="my-3">
            <button type="button" class="btn btn-sm btn-primary" @onclick="() => CloseDialog()">Close</button>
        </div>

    </MatDialogContent>

</MatDialog>